<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/stylesobre.css">
</head>

<body>
    <header>
        <a href="">LudoFashion</a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar">
                <img src="./imgs/lupa.png" alt="" width="30px"></button>
        </form>
    </header>

    <nav></nav>

    <div class="cadastro-tela">


        <div class="box">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Senha">
        </div>

        <div class="box">
            <input type="name" placeholder="Nome">
            <input type="" placeholder="CPF">
        </div>

        <div class="box">
            <input type="date" placeholder="Data de nascimento" class="data">
            <input type="number" placeholder="Número de telefone">
        </div>
        
        <button class="botao-login">Cadastrar</button>
   
    </div>

</body>

</html>