<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/stylesobre.css">
</head>

<body>
    <header>
        <h1>LudoFashion</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar">
                <img src="../imgs/lupa.png" alt="" width="30px">
            </button>
        </form>
    </header>
    <nav>
        <a href="">Catálogo</a>
        <a href="duvidas.html">Dúvidas</a>
        <a href=""></a>
    </nav>

    <main>
        <div>
            <h2 class="titulo-categoria"> <img src="../imgs/menu033.png" alt="" height="35px">Categorias</h2>
        </div>

        <div class="categ">
            <span class="categoria">
                <a>Casual</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="categoria">
                <a>Social</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="categoria">
                <a>Maquiagem</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="categoria">
                <a>Esportivo</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="categoria">
                <a>Bolsas</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>
            
            <span class="categoria">
                <a>Banho</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="categoria">
                <a>Lingeries</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="categoria">
                <a>Calcinhas</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="categoria">
                <a>Moda praia</a>
                <img src="../imgs/lapis02.png" alt="" width="25px">
                <img src="../imgs/lixo02.png" alt="" width="25px">
            </span>

            <span class="add-categ">
                <img src="../imgs/somar.png" alt="" width="25px">
                <a>Adicionar categoria</a>
            </span>

        </div>
    </main>