<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/stylesobre.css">
</head>

<body> 
    <header>
        <h1>Ajuda</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar">
                <img src="../imgs/lupa.png" alt="" width="30px">
            </button>
        </form>
        <h1>LudoFashion</h1>
    </header> 
    
    <nav> 
        <a href="">Catálogo</a>
        <a href="../index.html">Inicio</a>
        <a href=""></a>
    </nav>

    <main>
        <div>
            <h2 class="titulo1">Principais perguntas:</h2>
        </div>
        <section id="duvida">

            <div>
                <details class="details">
                    <summary>
                        Como faço para adicionar um produto à minha lista de desejos?
                    </summary>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quas consectetur illo consequatur temporibus. Eaque debitis vel beatae temporibus voluptas praesentium cum minima impedit omnis nam, quia soluta aperiam cupiditate.
                </details>

                <details class="details">
                    <summary>
                        Como posso pesquisar produtos no site?
                    </summary>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nisi possimus blanditiis a ex sapiente praesentium, sit ipsum. Ipsa vel fuga amet accusamus sequi hic ea quas pariatur fugiat sit?
                </details>

                <details class="details">
                    <summary>
                        Existe uma opção de filtragem para encontrar produtos especificos, como por categoria, preço, marca, etc.?
                    </summary>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, voluptatibus minima ipsam mollitia, ab et doloribus quam provident ut, tempora ullam dolor facilis qui! Velit dolorum adipisci molestiae sed architecto.
                </details>

                <details class="details">
                    <summary>
                        Posso salvar produtos em umja lista de desejos para ver mais tarde?
                    </summary>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam amet, odit provident tempore ducimus qui, minus iste laudantium accusantium incidunt consequuntur voluptates ipsam iure, exercitationem autem suscipit commodi quae inventore.
                </details>

                <details class="details">
                    <summary>
                        Existe uma opção de chat ao vivo ou suporte online para obter ajuda adicional sobre um produto?
                    </summary>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis quam praesentium molestias quasi dolores rerum et nobis tenetur iusto, sed quis rem aliquid enim hic architecto quo consequatur saepe fugit?
                </details>
            </div>
            <div id="duv-final">
                <img src="../imgs/duvida2.png" alt="">
                <p class="titulo1">Ainda com problemas</p>
                <button class="btn-fale">Fale conosco<img class="btn-fale" src="../imgs/headset_mic_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" height="40px"></button>
            </div>
        </section>
    </main>
</body>
</html>