<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/stylesobre.css">
</head>

<body> 
    <header>
        <h1>Ajuda</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar">
                <img src="./imgs/lupa.png" alt="" width="30px">
            </button>
        </form>
        <h1>LudoFashion</h1>
    </header> 
    <nav></nav>

    <main>
        <div>
            <h2 class="titulo1">Principais perguntas:</h2>
        </div>
        <section id="duvida">

            <div>
                <details class="details">
                    <summary>
                        Como faço para adicionar um produto à minha lista de desejos?
                    </summary>
                </details>

                <details class="details">
                    <summary>
                        Como posso pesquisar produtos no site?
                    </summary>
                </details>

                <details class="details">
                    <summary>
                        Existe uma opção de filtragem para encontrar produtos especificos, como por categoria, preço, marca, etc.?
                    </summary>
                </details>

                <details class="details">
                    <summary>
                        Posso salvar produtos em umja lista de desejos para ver mais tarde?
                    </summary>
                </details>

                <details class="details">
                    <summary>
                        Existe uma opção de chat ao vivo ou suporte online para obter ajuda adicional sobre um produto?
                    </summary>
                </details>
            </div>
            <div id="duv-final">
                <img src="" alt="">
                <p class="titulo1">Ainda com problemas</p>
                <button class="btn-fale">Fale conosco> <img class="btn-fale" src="" alt="" height="40px"></button>
            </div>
        </section>
    </main>
</body>
</html>