<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/stylesobre.css">
</head>

<body>
    <header>
        <a href="">LudoFashion</a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar">
                <img src="./imgs/lupa.png" alt="" width="30px"></button>
        </form>
    </header>

    <nav></nav>

    <div class="login-tela">

        <h1 class="nome-tela">Login</h1>
        
        <input type="text" placeholder="Email">
        
        <input type="password" placeholder="Senha">
        

        <button class="botao-login">Login</button>
        
        <p class="opcao">OU</p>

        <div class="imagem-logo">

        <img src="../imgs/google.png" alt="" width="30px">
        <img src="../imgs/face.png" alt="" width="30px">

        </div>

    </div>

</body>

</html>