<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="../css/stylesobre.css">
</head>

<body>
    <header>
        <h1>Sobre Nós:</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar">
                <img src="../imgs/lupa.png" alt="" width="30px">
            </button>
        </form>
        <h1>LudoFashion</h1>
    </header>
    <nav> 
        <a href="">Catálogo</a>
        <a href="duvidas.html">Dúvidas</a>
        <a href=""></a>
    </nav>
    <main id="title">
        <section id="sobre">
            <div class="texto">
                <h1>Quem somos</h1>
                <p>
                    LudoFashion é uma boutique online que cativa o coração de mulheres modernas e conscientes da moda.
                    Especializada na venda de cosméticos e roupas femininas, a LudoFashion oferece uma seleção
                    cuidadosamente
                    curada de produtos que combinam elegância, estilo e qualidade. Desde os mais recentes lançamentos em
                    produtos de beleza até as últimas tendências em moda feminina, cada item da LudoFashion é escolhido
                    para
                    inspirar confiança e beleza em suas clientes. Com um compromisso inabalável com a qualidade e o
                    serviço ao
                    cliente, a LudoFashion se destaca como um destino confiável para mulheres que buscam expressar sua
                    individualidade através do estilo.
                </p>
                <p>
                    <strong>Visão:</strong> Ser a principal boutique online para mulheres modernas e conscientes da
                    moda, oferecendo uma
                    experiência única e inspiradora.
                </p>
                <p>
                    <strong>Missão:</strong> Proporcionar uma seleção cuidadosamente curada de cosméticos e roupas
                    femininas que inspirem
                    confiança e expressão individual, com excelência em qualidade e serviço ao cliente.
                </p>
                <p>
                    <strong>Valores:</strong> Excêlencia, Integridade, Empoderamento
                </p>
            </div>

            <div class="divi-imagem">
                <img class="foto" src="../imgs/rosa.png.png" alt="">
            </div>
        </section>
    </main>
</body>